<% smartDisplayFields.forEach(field => { %>
  <div class="mb-3">
    <div class="text-secondary small"><%= field.label %></div>
    <div class="fw-semibold text-dark">
      <% if (field.uiType === 'boolean') { %>
        <nz-tag *ngIf="data.<%= field.namaField %>" nzColor="blue">Ya</nz-tag>
        <span *ngIf="!data.<%= field.namaField %>">-</span>
      <% } else if (field.uiType === 'status') { %>
        <nz-tag  nzColor="green"><%= field.namaField %> </nz-tag> 
      <% } else if (field.uiType === 'date') { %>
        {{ data.<%= field.namaField %> ? (data.<%= field.namaField %> | date:'short') : '-' }}
      <% } else if (field.uiType === 'relation') { %>
        {{ data.<%= field.relasiField %>?.nama || '-' }}
      <% } else { %>
        {{ data.<%= field.namaField %> || '-' }}
      <% } %>
    </div>
  </div>
<% }) %>
